
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
  transition: background-color 0.3s, color 0.3s;
}  html, body, #__next {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100vw;
}

* {
  box-sizing: border-box;
}
.group:hover .text-3xl {
  animation: bounce 0.5s ease infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
